* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Product {
  column-gap: 2px;
  row-gap: 5px;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 1%;
  border: 0.5px solid black;
  font-weight: 600;
  p {
    font-size: x-large;
  }
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  img {
    height: 100%;
    width: 100%;
  }
}

.btnDiv {
  width: 70%;
  display: flex;
  justify-content: space-around;
  button {
    border: 0.5px solid black;
  }
}
